body {
  background-color: #363062;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Josefin Sans', sans-serif;
  min-height: 100vh;
}

main {
  flex: 1;
}

div.row {
  margin-right: 0;
  margin-left: 0;
}



/*----------------------------------------NAVBAR-----------------------------------------*/


.navbar-custom .navbar-nav .nav-link {
  color: #fff;
}

/* change the background color */
.navbar-custom {
  /* background-color: #685E95; */
  background-color: #4D4C7D;


}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #fff;
  border-radius: 5px;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: #fff;
  border-radius: 5px;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  background-color: #AEDBCE;
  color: #363062;
  border-radius: 5px;
}

.navbar-nav li {
  border-radius: 5px;
}

.navbar-nav li>a:focus {
  background-color: #AEDBCE;
  color: #363062;
  border-radius: 5px;
}

.navbar-nav li.active>a {
  background-color: #000000;
  color: #fff;
  border-radius: 5px;
}

.navbar {
  -webkit-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.75);
}

.navbar-nav>li {
  padding-left: 5vw;
  padding-right: 5vw;
  border-radius: 5px;
}

.nav-link {
  font-size: 1.4rem; 
  margin-top: 5px; 
  /* margin-bottom: 5px;  */
}

/*---------------------------------------INTRO-SCREEN----------------------------------*/

.intro {
  background: #4D4C7D;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  overflow: hidden;
}

h1 .box {
  position: absolute;
  bottom: 0;
  display: inline-block;
  background-color: #827397;
  color: #827397;
  height: 1vw;
  /* z-index: -1; */
  width: 100px;
}

.intro-text {
  color: #AEDBCE;
  font-size: 5em;
  position: absolute;
  z-index: 2;
}


.rule {
  width: 100vw;
  position: relative;
  z-index: 3;
  opacity: 100;
  color: #827397;
  background-color: #827397;
  border: solid 3px;
}



/*-------------------------------------HOME--------------------------------------------*/

.home {
  justify-content: center;

  margin-bottom: 40px;
}

.hide {
  position: relative;
  visibility: hidden;
}

.home-title {
  text-align: center;
  position: relative;
  top: 50px;
  margin-bottom: 100px;
}

/* #main-photo {
    width: 110px;
    height: 110px;
    text-align: center;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
  } */

#main-photo {
  /* position: relative; */
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  padding-left: 0;
  padding-right: 0;
}

#main-photo img {
  width: 100%;
  height: auto;
}


.name {
  font-size: 8rem;
  font-weight: 90;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0px;
  position: relative;
  bottom: 50px;
  margin-top: 50px;
}

.tagline {
  font-size: 2.3vw;
  font-weight: 500;
  margin-top: 0px;
  position: relative;
  top: 20px;
}

.description {
  text-align: center;
  position: relative;
  width: 70%;
  margin: 0 auto;
  font-size: 1.5vw;
  top: 200px;
}


/*++++++++++++++++++++++++++Small Devices++++++++++++++++++++++++++++++*/

@media (min-width: 300px) {
  .name {
    font-size: 4rem;
    font-weight: 100;
    margin-top: 80px;
    margin-bottom: 20px;
  }

  .tagline {
    font-size: 2rem;
    font-weight: 500;
    width: auto;
    margin: 0 auto;
    margin-bottom: 2.5rem;
  }

  .description {
    text-align: center;
    position: relative;
    margin: 60px auto;
    width: 50%;
    font-size: 1rem;
    top: 0px;
  }

}

/*++++++++++++++++++++++++++Large Devices++++++++++++++++++++++++++++++*/

@media (min-width: 992px) {
  .name {
    font-size: 6rem;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    margin-top: 80px;
    margin-bottom: 5px;
  }

  .tagline {
    font-size: 3rem;
    font-weight: 400;
    margin-top: 0px;
    position: relative;
    top: 20px;
  }

  .description {
    text-align: center;
    position: relative;
    margin: 60px auto;
    width: 50%;
    font-size: 1.5rem;
    top: 0px;
  }
}

/*-----------------------------------PROJECTS-------------------------------------------*/

/* Project Cards */
.project-card {
  background-color: #4D4C7D;
  color: white;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
}

.project-card img {
  border-radius: 10px;
  width: 90%;

}

.project-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px;
}

.project-points {
  list-style: disc;
  padding-left: 40px;
  font-size: 15px;
  font-weight: lighter;
}

.project-details {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 800;
}

.project-languages {
  font-style: italic;
  margin-bottom: 10px;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  /* Adjust border radius as needed */
}



.project-points li {
  font-size: 1em;
  /* Adjust the font size as needed */
  font-weight: lighter;
  /* color: #888; */
  margin-bottom: 5px;
  /* Adjust the margin bottom as needed */
}



.category {
  margin-top: -35vh;
  text-align: center;
  overflow: hidden;
}

.category-item {
  margin-bottom: 2rem;
  font-size: 3.5rem;
}

.category-title {
  /* font-family: 'Josefin Sans', sans-serif; */
  font-size: 5vw;
  font-weight: 400;
  margin-top: 7rem;
}

.category-description {
  font-size: 1.6vw;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
}

ul.category-preview {
  list-style-image: url("/images/gear.png");
  text-align: center;
  list-style-position: inside;
}


.logos {
  text-align: center;
  margin-bottom: 1rem;
}

.skills-align {
  visibility: hidden;
}

.projects-align {
  visibility: hidden;
}

.about-align {
  visibility: hidden;
}

.separator {
  margin: 0 auto;
  width: 20%;
  border: 3px solid #E9D5DA;
  border-bottom: 0;
}

.category-points {
  font-weight: 100;
  list-style: none;
  line-height: 5rem;
}

img.web-logo {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

/*++++++++++++++++++++++++++Small Devices++++++++++++++++++++++++++++++*/

@media (min-width: 300px) {
  .category {
    margin-top: -36rem;
  }

  .category-title {

    font-size: 4rem;
    font-weight: 400;
    margin-top: 7rem;
  }

  .category-description {
    font-size: 1rem;
    font-weight: lighter;
    width: 50%;
    margin: 30px auto;
  }

  .category-item {
    font-size: 3rem;
  }

  .category-points {
    font-size: 1rem;
    font-weight: 20;
    line-height: 3rem;
    margin-top: 40px;
    margin-right: 25px;
  }

}

/*++++++++++++++++++++++++++Large Devices++++++++++++++++++++++++++++++*/

@media (min-width: 992px) {
  .category {
    margin-top: -35rem;
  }

  .category-title {

    font-size: 5rem;
    font-weight: 400;
  }

  .category-description {
    font-size: 1.6vw;
    font-weight: 100;
    margin: 5rem auto;
  }
}

/*----------------------------------------------CERTIFICATIONS-------------------------------------------------------------------*/

/* Customize these styles to match your design */
.certification-section {
  margin-top: 40px;
  /* Adjust spacing as needed */
}

.section-title {
  font-size: 3.2rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.cert-top {
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center;
}

.certification-card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cert-image {
  height: 100px;
  margin-bottom: 15px;
}

.cert-title {
  font-weight: 200;
}

.cert-description {
  font-size: 14px;
  margin-bottom: 10px;
}

.cert-link {
  display: block;
  padding: 8px 16px;
  background-color: #c2c0cf;
  color: #363062;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}

.cert-link:hover {
  background-color: #47456e;
}

/*----------------------------------------------SKILLS-------------------------------------------------------------------*/

.skill-top {
  font-size: 3.3rem;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}

.skills-list {
  margin-bottom: 20px;
}

.skill-card {
  background-color: #4D4C7D;
  color: white;
  padding: 0px;
  border-radius: 20px;
  margin: 10px;
  text-align: center;
}

.skill-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.skill-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px;
}

.skill-text {
  font-size: 13px;
  font-weight: lighter;
}

/* ------------------------------------------------------RESUME---------------------------------------------------------- */

.resume-title {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 90px;
}




/*----------------------------------ABOUT----------------------------------------*/

.about {
  text-align: left;
  display: flex;
  width: 40vw;
  line-height: 4rem;
}

span.mail {
  font-size: 2rem;
  font-weight: 100;
  margin-left: 1rem;
  text-decoration: none;
  color: white;
  position: relative;
  top: 0.4rem;
}

span.mail a:hover a:focus {
  color: #AEDBCE;
}

.contacts {}

img.contact-img {
  width: 70px;
  height: 70px;
  margin: 7rem auto;
}


/*++++++++++++++++++++++++++Small Devices++++++++++++++++++++++++++++++*/

@media (min-width: 300px) {

  .about {
    text-align: center;
    display: flex;
    width: auto;
    line-height: 3rem;
    font-weight: bold;
  }

  .contact-item {
    font-size: 1rem;
  }

  img.contact-img {
    width: 70px;
    height: 70px;
    margin: 1rem auto;
  }

  span.mail {
    font-size: 1.3rem;
    font-weight: 100;
    margin-left: 1rem;
    text-decoration: none;
    color: white;
    position: relative;

  }
}

/* -------------------------------------------------------FOOTER---------------------------------------------------------- */
footer {
  background-color: #333;
  display: flex;
  width: 100%;
  color: white;
  height: 4rem;
  align-items: center;
  justify-content: flex-start;
  margin-top: auto;
}

/* .footer-contents {
  margin: 10px auto;
} */

.footer-box {
  text-align: left;
}

.footer-text {
  margin: 0px;
}

.footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0.5rem;
}

.footer-section {
  margin-right: 5px;
}

.footer-icons a {
  padding: 10px;
  font-size: 1.2rem;
}


/*---------------------------------BACKGROUND-------------------------------------------*/


.background {
  height: 70vh;
  overflow: hidden;
  opacity: 0.5;
  display: -webkit-box;
  display: flex;
  position: fixed;
  bottom: 100px;
  z-index: -1;
}

.sky {
  position: relative;
  width: 100%;
  height: 100%;
  top: 100px;
  -webkit-transform: rotateZ(30deg);
  transform: rotateZ(30deg);
}

/* Here we are making roundabout balls  */
.star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  border-radius: 885px;
  background: linear-gradient(-45deg,
      #eef0f5, rgba(0, 0, 255, 0));

  -webkit-filter: drop-shadow(0 0 6px #eef1f8);
  filter: drop-shadow(0 0 6px #d7dff0);
  -webkit-animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
  animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
  background-color: aqua;
}

/* Here we add before and after effect to star */
.star::before,
.star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg,
      rgba(0, 0, 255, 0),
      #eaeef8,
      rgba(0, 0, 255, 0));
  -webkit-transform: translateX(50%) rotateZ(45deg);
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
  animation: shining 3000ms ease-in-out infinite;
}

.star::after {
  -webkit-transform: translateX(50%) rotateZ(-45deg);
  transform: translateX(50%) rotateZ(-45deg);
}

/* Here we are adding location of each 
   nth-child, animations, delays, and 
   before and after effects to each 
   and every balls(stars) */
.star:nth-child(1) {
  top: calc(50% - 200px);
  left: calc(50% - -90px);
  -webkit-animation-delay: 1000ms;
  animation-delay: 1000ms;
}

.star:nth-child(1)::before,
.star:nth-child(1)::after {
  -webkit-animation-delay: 1000ms;
  animation-delay: 1000ms;
}

.star:nth-child(2) {
  top: calc(50% - -4px);
  left: calc(50% - -30px);
  -webkit-animation-delay: 5000ms;
  animation-delay: 5000ms;
}

.star:nth-child(2)::before,
.star:nth-child(2)::after {
  -webkit-animation-delay: 5000ms;
  animation-delay: 5000ms;
}

.star:nth-child(3) {
  top: calc(50% - 240px);
  left: calc(50% - -30px);
  -webkit-animation-delay: 7000ms;
  animation-delay: 7000ms;
}

.star:nth-child(3)::before,
.star:nth-child(3)::after {
  -webkit-animation-delay: 7000ms;
  animation-delay: 7000ms;
}

.star:nth-child(4) {
  top: calc(50% - -29px);
  left: calc(50% - 113px);
  -webkit-animation-delay: 7000ms;
  animation-delay: 7000ms;
}

.star:nth-child(4)::before,
.star:nth-child(4)::after {
  -webkit-animation-delay: 7000ms;
  animation-delay: 7000ms;
}

.star:nth-child(5) {
  top: calc(50% - 90px);
  left: calc(50% - -110px);
  -webkit-animation-delay: 3000ms;
  animation-delay: 3000ms;
}

.star:nth-child(5)::before,
.star:nth-child(5)::after {
  -webkit-animation-delay: 3000ms;
  animation-delay: 3000ms;
}

.star:nth-child(6) {
  top: calc(50% - -108px);
  left: calc(50% - 160px);
  -webkit-animation-delay: 3000ms;
  animation-delay: 3000ms;
}

.star:nth-child(6)::before,
.star:nth-child(6)::after {
  -webkit-animation-delay: 3000ms;
  animation-delay: 3000ms;
}

.star:nth-child(7) {
  top: calc(50% - 52px);
  left: calc(50% - 72px);
  -webkit-animation-delay: 7000ms;
  animation-delay: 7000ms;
}

.star:nth-child(7)::before,
.star:nth-child(7)::after {
  -webkit-animation-delay: 7000ms;
  animation-delay: 7000ms;
}

/* This code will help to generate 
effect in tail of star */
@keyframes tail {
  0% {
    width: 0;
  }

  30% {
    width: 100px;
  }

  100% {
    width: 0;
  }
}

/* This code will generate shining 
effect in head of star */
@keyframes shining {
  0% {
    width: 0;
  }

  50% {
    width: 30px;
  }

  100% {
    width: 0;
  }
}

/* Here we are adding webkit-animation 
to head of star for shining */
@-webkit-keyframes shining {
  0% {
    width: 0;
  }

  50% {
    width: 30px;
  }

  100% {
    width: 0;
  }
}

/* Here we are adding webkit-animation 
to tail of star */
@-webkit-keyframes tail {
  0% {
    width: 0;
  }

  30% {
    width: 100px;
  }

  100% {
    width: 0;
  }
}

/* Here we are adding webkit-animation 
for shooting effect */
@-webkit-keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(270px);
    transform: translateX(270px);
  }
}

/* Here we make shooting effect */
@keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(270px);
    transform: translateX(270px);
  }
}


/*-------------------------------------TEST------------------------------------------------------------*/

/* Here we are making roundabout balls  */
.star1 {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  border-radius: 885px;
  background: linear-gradient(-45deg,
      #eef0f5, rgba(0, 0, 255, 0));

  -webkit-filter: drop-shadow(0 0 6px #eef1f8);
  filter: drop-shadow(0 0 6px #d7dff0);
  -webkit-animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
  animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
  background-color: aqua;
}

/* Here we add before and after effect to star1 */
.star1::before,
.star1::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg,
      rgba(0, 0, 255, 0),
      #eaeef8,
      rgba(0, 0, 255, 0));
  -webkit-transform: translateX(50%) rotateZ(45deg);
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
  animation: shining 3000ms ease-in-out infinite;
}

.star1::after {
  -webkit-transform: translateX(50%) rotateZ(-45deg);
  transform: translateX(50%) rotateZ(-45deg);
}

/* Here we are adding location of each 
   nth-child, animations, delays, and 
   before and after effects to each 
   and every balls(star1s) */
.star1:nth-child(1) {
  top: calc(50% - 60px);
  left: calc(50% - 600px);
  -webkit-animation-delay: 2500ms;
  animation-delay: 2500ms;
}

.star1:nth-child(1)::before,
.star1:nth-child(1)::after {
  -webkit-animation-delay: 2500ms;
  animation-delay: 2500ms;
}

.star1:nth-child(2) {
  top: calc(50% - -110px);
  left: calc(50% - 1000px);
  -webkit-animation-delay: 5000ms;
  animation-delay: 5000ms;
}

.star1:nth-child(2)::before,
.star1:nth-child(2)::after {
  -webkit-animation-delay: 5000ms;
  animation-delay: 5000ms;
}

.star1:nth-child(3) {
  top: calc(50% - -80px);
  left: calc(50% - 700px);
  -webkit-animation-delay: 7000ms;
  animation-delay: 7000ms;
}

.star1:nth-child(3)::before,
.star1:nth-child(3)::after {
  -webkit-animation-delay: 7000ms;
  animation-delay: 7000ms;
}

.star1:nth-child(4) {
  top: calc(50% - 60px);
  left: calc(50% - 600px);
  -webkit-animation-delay: 7000ms;
  animation-delay: 7000ms;
}

.star1:nth-child(4)::before,
.star1:nth-child(4)::after {
  -webkit-animation-delay: 7000ms;
  animation-delay: 7000ms;
}

.star1:nth-child(5) {
  top: calc(50% - 146px);
  left: calc(50% - 112px);
  -webkit-animation-delay: 3000ms;
  animation-delay: 3000ms;
}

.star1:nth-child(5)::before,
.star1:nth-child(5)::after {
  -webkit-animation-delay: 3000ms;
  animation-delay: 3000ms;
}

.star1:nth-child(6) {
  top: calc(50% - -90px);
  left: calc(50% - 160px);
  -webkit-animation-delay: 3600ms;
  animation-delay: 3600ms;
}

.star1:nth-child(6)::before,
.star1:nth-child(6)::after {
  -webkit-animation-delay: 3600ms;
  animation-delay: 3600ms;
}

.star1:nth-child(7) {
  top: calc(50% - 52px);
  left: calc(50% - 72px);
  -webkit-animation-delay: 7000ms;
  animation-delay: 7000ms;
}

.star1:nth-child(7)::before,
.star1:nth-child(7)::after {
  -webkit-animation-delay: 7000ms;
  animation-delay: 7000ms;
}

.star1:nth-child(8) {
  top: calc(50% - -150px);
  left: calc(50% - 200px);
  -webkit-animation-delay: 4000ms;
  animation-delay: 4000ms;
}

.star1:nth-child(8)::before,
.star1:nth-child(8)::after {
  -webkit-animation-delay: 4000ms;
  animation-delay: 4000ms;
}

.star1:nth-child(9) {
  top: calc(50% - -43px);
  left: calc(50% - 37px);
  -webkit-animation-delay: 5000ms;
  animation-delay: 5000ms;
}

.star1:nth-child(9)::before,
.star1:nth-child(9)::after {
  -webkit-animation-delay: 5000ms;
  animation-delay: 5000ms;
}

.star1:nth-child(10) {
  top: calc(50% - -40px);
  left: calc(50% - 222px);
  -webkit-animation-delay: 7000ms;
  animation-delay: 7000ms;
}

.star1:nth-child(10)::before,
.star1:nth-child(10)::after {
  -webkit-animation-delay: 7000ms;
  animation-delay: 7000ms;
}

/* This code will help to generate 
effect in tail of star1 */
@keyframes tail {
  0% {
    width: 0;
  }

  30% {
    width: 100px;
  }

  100% {
    width: 0;
  }
}

/* This code will generate shining 
effect in head of star1 */
@keyframes shining {
  0% {
    width: 0;
  }

  50% {
    width: 30px;
  }

  100% {
    width: 0;
  }
}

/* Here we are adding webkit-animation 
to head of star1 for shining */
@-webkit-keyframes shining {
  0% {
    width: 0;
  }

  50% {
    width: 30px;
  }

  100% {
    width: 0;
  }
}

/* Here we are adding webkit-animation 
to tail of star1 */
@-webkit-keyframes tail {
  0% {
    width: 0;
  }

  30% {
    width: 100px;
  }

  100% {
    width: 0;
  }
}

/* Here we are adding webkit-animation 
for shooting effect */
@-webkit-keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(270px);
    transform: translateX(270px);
  }
}

/* Here we make shooting effect */
@keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(270px);
    transform: translateX(270px);
  }
}